{% extends 'base_layout.html' %}

{% block content %}
{% load static %}
<body>
    <div id="project-page">
        <!-- projects section -->
        <div class="flex-container skyblue column-style" id="projects">
            <div class="flex-container" id="pro-title">
                <span class="title">My Projects</span>
            </div>
            <div class="flex-container row-style" id="pro-item">
                <div class="flex-container card" style="width: 18rem;" id="left-pro">
                    <img src="{% static 'img/imotion.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Imotion FEB UI Website</h5>
                        <p class="card-text">
                            A website that shows the competition's information with
                            simple registration page contains form for registering the
                            competition. This website was built using Wordpress.
                        </p>
                        <a href="https://imotionfebui.com/" class="btn btn-primary" target="_blank">Check it!</a>
                    </div>
                </div>
                <div class="flex-container card" style="width: 18rem;" id="right-pro">
                    <img src="{% static 'img/youtube.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">My Youtube Channel</h5>
                        <p class="card-text">
                            I enjoy creating a reaction video of some K-pop
                            Music Video. Kindly check my channel and subscibe it 
                            to support my channel.
                        </p>
                        <a href="https://www.youtube.com/channel/UCkvXFfg6ZeSCh-yjyYqieOA" class="btn btn-primary" target="_blank">
                            Check it!
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer section -->
        <div class="flex-container footer">
            <span id="footer-txt">est. 2019 by Christopher Tamba</span>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

{% endblock %}