

@font-face{
    font-family:"Raleway";
    src:url("raleway-regular-webfont.ttf");
    src:url("raleway-regular-webfont.woff");
    src:url("raleway-regular-webfont.woff2");
}
html{
    scroll-behavior: smooth;
}

body{
    font-family:"Raleway";
    font-size:35;
    margin:0;
}
  
#homepage{
    display: flex;
    flex-direction: column;
    width:100%;
}
.navbar{
    padding:3px 25px;
}

#navigation{
    background-color: #6699cc !important;
    margin:0px;
    width: 100%;
}

.ikon{
    margin-right:-15px;
    margin-top: 30px;
}
.txt-ikon{
    font-family: "Raleway";
    font-size: 25px;
}
#foto-kecil{
    margin-right:5px;
}

.title{
    font-size: 55px;
    font-weight:500;
}
.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.row-style{
    flex-direction:row;
}
.column-style{
    flex-direction:column;
}
#name{
    font-weight:1000;
    font-style:italic; 
    color: #1122AA;
}
#intro{
    width:100%;
    height: 100vh;
    padding-top: 35px;
}
#intro-left{
    width:60%;
    align-items: flex-start;
    padding-left:40px;
}
#intro-right{
    width:40%;
    align-items:center;
}
.skyblue{
    background-color:#F5FCFF;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
#my-resume{
    margin-bottom:35px;
}

.tombol{
    display:flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius:15px;
    border-color: #00386D;
    width:22vw;
    height:11vh;
    background:white;
}
.tombol:hover{
    background-color: #00386d;
    color:white;
    text-decoration: none;
}
.button-text{
    font-size:35px;
    color:#00386d;
    font-style:italic;  
}
#about{
    width:100%;
    padding-top: 15px;
    height:100vh;
    margin-top: 0px;
}
#about-left{
    width:40%;
}
#about-right{
    align-items: flex-start;
    width:60%;
    margin:10px;
    padding-right: 15px;
}
#data{
    padding:0px 30px;
    margin-top:10px;
}
#profile-img{
    width:80%;
    height:80%;
    margin-left:20px;
}
.column-style{
    flex-direction: column;
}
.subtitle{
    font-size:5vh;
    font-family: "Raleway";
    font-weight: 300;
}
.blue-txt{
    color:#00386d;
}
.violet-txt{
    color:#1122AA;
}
.bold-txt{
    font-style: bold;
    font-weight: 700;
}
.miring{
    font-style: italic;
}
.skyblue-txt{
    color:#6699cc;
}
.title-sub{
    margin-bottom:15px;
    font-weight:600;
}
.body-txt{
    font-size: 35px;
}
#tech{
    margin-left:20px;
    width:40%;
}
#personal{
    width:60%;
}
#skills{
    width:100%;
    height:100vh;
    padding-top: 15px;
}
#skill-sub{
    margin-top:25px;
    width:100%;
}
#skill-title{
    margin-top:20px;
    margin-bottom:10px;
}
#exp-title{
    margin-top:20px;
    margin-bottom:10px;
}
#experiences{
    padding-top: 75px;
    height:180vh;
    margin-bottom: 20px;
    width:100%;
    justify-content: flex-start;
}
.item-txt{
    margin-left:10px;
    font-size:30px;
    font-weight:600;
}
.sub-item{
    margin-left: 20px;
    font-size:25px;
}
.left-column{
    align-items: flex-start;
}
#item-mainbox{
    width:90%;
    margin-left: 15px;
}
.item-box{
    margin-top:15px;
}
.footer{
    margin-top:auto !important;
    left: 0;
    bottom: 0;
    height:11vh;
    width: 100%;
    background-color:#c4c4c4;
    color: white;
    text-align: center;
    font-size:20px;
}
#projects{
    width:100%;
    height:85vh;
    margin-top:15vh;
}
#pro-title{
    margin-bottom: -25px;
}
#pro-item{
    height:90vh;
    width:100%;
    margin:0px 0px 15px;
}
.card{
    margin:0px 20px;
}
.btn-primary{
    background-color:#6699cc;
    border-color:#6699cc;  
}
#left-pro{
    width:50%;
}
#right-pro{
    width:50%;
}

@media screen and (max-width: 768px){
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size:27px;
    }
    #foto-kecil{
        width:70px;
        height:70px;
    }
    .txt-ikon{
        font-size:20px;
    }
    .ikon{
        width:35px;
        height:35px;
    }
    #intro{
        flex-direction:column;
        padding-top: 0px;
    }
    #intro-left {
        width:90%;
        padding:0px 0px;
    }
    #intro-right{
        width:100%;
        flex-direction: column;
    }
    .button-text{
        font-size:20px;
    }
    .tombol{
        width:125px;
        height:50px;
    }
    .tombol:after{
        background-color: #00386d;
        color:white;
        opacity: 0;
        transition: all 0.8s;
        text-decoration: none;
    }
    .tombol:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
    .tombol:hover:active{
        background-color: #ffffff;
        color:#00386D;
    }
    #my-resume{
        margin:20px;
    }
    #about-title{
        margin-top:25px;
    }
    #about{
        margin-top: 20px;
        padding-top: 70px;
    }
    #data{
        flex-direction: column;
    }
    #about-left{
        width:100%;
    }
    #about-right{
        margin-top:25px;
        width:100%;
        padding:0px;
        text-align:center;
        font-size:28px;
    }
    #profile-img{
        margin-left:35px;
    }
    #skills{
        margin:30px 0px;
        height:120vh;
        padding-top: 20px;
    }
    #skill-sub{
        flex-direction: column;
    }
    #tech{
        width:100%;
        margin:0px 0px 30px;
    }
    #personal{
        width:100%;
        margin:0px;
    }
    .body-txt{
        font-size:22px;
    }
    #skill-title{
        margin-top:-20px;
    }
    .item-txt{
        font-size: 20px;
    }
    .sub-item{
        font-size:18px;
    }
    #exp-title{
        text-align: center;
    }
    #item-mainbox{
        width:90%;
        margin-left:0px;
    }
    #experiences{
        height:160vh;
        margin-top: 40px;
        padding-top: 100px;
    }
    .footer{
        height:40px;
    }
    #footer-txt{
        font-size: 14px;
    }
    body{
        margin:0px;
        padding: 0px;
    }
}
@media screen and (max-width: 376px){
    #about{
        margin:85px 0px;
        padding-top: 60px;
    }
    #about-right{
        width: 100%;
        margin-top:80px;
    }
    #about-left{
        width: 100%;
    }
    #about-title{
        margin-top:60px;
    }
    .body-txt{
        font-size:18px;
    }
    .item-txt{
        font-size:15px;
    }
    .sub-item{
        font-size:13px;
    }
    .subtitle{
        font-size:20px;
    }
    #data{
        margin-top:35px;
    }
    #skills{
        margin:70px 0px 40px;
        height:110vh;
        padding-top: 30px;
    }
    #skill-title{
        margin-top:30px;
    }
    #experiences{
        margin:25px 0px;
        height:130vh;
        padding-top: 85px;
    }
    #exp-title{
        margin-top:10px;
    }
    .tombol:after{
        background-color: #00386d;
        color:white;
        opacity: 0;
        transition: all 0.8s;
        text-decoration: none;
    }
    .tombol:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }
    .tombol:hover:active{
        background-color: #ffffff;
        color:#00386D;
    }
    .footer{
        height:40px;
    }
    #projects{
        height:120vh;
        padding-top:0px;
        margin-top:0px;
    }
    #pro-title{
        margin-top: 10vh;
    }
    .tombol:hover{
        background-color: #00386d;
        color:white;
        text-decoration: none;
    }
    .card-text{
        font-size:13px;
    }
    #pro-item{
        margin-top: 10px;
    }
    #foto-kecil{
        width:65px;
        height:65px;
    }
    .txt-ikon{
        font-size:17px;
    }
    .ikon{
        width:31px;
        height:31px;
    }
}
@media screen and (max-width: 361px){
    #experiences{
        height:200vh;
    }
    .about{
        margin-top:20px;
        padding-top:50px;
    }
    #foto-kecil{
        width:60px;
        height:60px;
    }
    .txt-ikon{
        font-size:15px;
    }
    .ikon{
        width:30px;
        height:30px;
    }
    .title{
        font-size:25px;
    }
    .subtitle{
        font-size: 18px;
    }
}