{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="#">
    <title>Christopher</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navigation">
    <div id="left-nav">
        <a class="navbar-brand" href="{% url 'story3:homepage' %}#intro" id="foto-kecil">
            <img src="{% static 'img/nav-photo.png' %}" alt="" id="foto-kecil">
        </a>
        <a class="navbar-brand " href="https://www.linkedin.com/in/christamba11/" target="_blank">
            <img src="{% static 'img/linkedIn.png' %}" alt="" class="ikon" id="">
        </a>
        <a class="navbar-brand" href="mailto:christamba11@gmail.com" target="_blank">
            <img src="{% static 'img/mail.png' %}" alt="" id="" class="ikon">
        </a>
        <a class="navbar-brand" href="https://www.instagram.com/christamba11/" target="_blank">
            <img src="{% static 'img/instagram.png' %}" alt="" id="" class="ikon">
        </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link txt-ikon" href="{% url 'story3:homepage' %}#about">About <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link txt-ikon" href="{% url 'story3:homepage' %}#skills">Skills</a>
            <a class="nav-item nav-link txt-ikon" href="{% url 'story3:homepage' %}#experiences">Experiences</a>
            <a class="nav-item nav-link txt-ikon" href="{% url 'story3:projects' %}">Projects</a>
        </div>
    </div>
</nav>

{% block content %}



{% endblock %}
</html>